{
  "presets": ["react-native"],
  "plugins": ["transform-decorators-legacy", "transform-react-jsx-source"],
  "env": {
    "development": {
      "plugins": []
    },
    "production": {
      "plugins": ["react-native-paper/babel"]
    }
  }
}
